dd {
    margin-bottom:1em;
}


label {
  margin-top: 1em;
}

fieldset {
  margin-bottom: 2em;
}

.help-block {
  font-size: 0.9em;
  margin: -0.6em 2em 1.2em 0.5em;
  color: #bbb;
  font-style: italic;
}
