{% extends "base.html" %}

{% block breadcrumb %}{{ home }}{% endblock breadcrumb %}

{% block pagelist %}
      {% for item in content.files %}
      <li><a href="/cms/page/{{ loop.key }}">{{ item.pagetitle }}</a></li>
      {% endfor %}
{% endblock pagelist %}

{% block content %}

    <h2>Welcome to your CherryGlass CMS</h2>

    <h3>Let's get started</h3>
    <p>
        CherryGlass generates a static site from your existing site source code and lets you add elements of managed content.
    </p>

    <hr>

    <form action="/cms/ingest" method="post" class="form-inline">
      <fieldset>
        <h4>Where should the output go?</h4>
        <label for="output">output directory</label>
        <input type="text" name="output" id="output" value="{{ content.config.site_dir }}" />
      </fieldset>
      <hr>
      <fieldset>
        <h4>Either create the CMS by looking at your HTML</h4>
        <label for="source">Site source directory</label>
        <input type="text" name="source" id="source" value="{{ content.config.src_dir }}" />
       <input type="submit" class="btn btn-inverse" name="html" value="Create the CMS from your HTML" />
      </fieldset>
      <fieldset>
        <h4>Or create the CMS by importing a saved JSON definition file</h4>
        <label for="datafile">Location of your data.json file</label>
        <input type="text" name="datafile" id="datafile" value="{{ content.config.data_file }}" />
        <input type="submit" class="btn btn-inverse" name="json" value="Create the CMS from a JSON file" />
      </fieldset>
    </form>

{% endblock content %}



