{% extends "./base.html" %}

   {% block breadcrumb %} {{ content.pagetitle }} {% endblock breadcrumb %}

   {% block pagelist %}
      {% for item in content %}
         {% if file == loop.key %}
            <li class="active"><a href="/cms/page/{{ loop.key }}">{{ item.pagetitle }}</a></li>
         {% else %}
            <li><a href="/cms/page/{{ loop.key }}">{{ item.pagetitle }}</a></li>
         {% endif %}
      {% endfor %}
   {% endblock pagelist %}

   {% block content %}

   <form action="/cms/page/{{ file }}" method="post">
      <legend>Content for management in <em>{{ file }}</em></legend>
      {% import '../macros/formmacros.html' as form %}
      {% for item in content[file].cherries %}
        {% if item.type == 'text' %}
          {{ form.text(loop.key, item) }}
        {% elif item.type == 'blob' %}
          {{ form.blob(loop.key, item) }}
        {% elif item.type == 'markdown' %}
          {{ form.blob(loop.key, item) }}
        {% elif item.type == 'link' %}
          {{ form.link(loop.key, item) }}
        {% elif item.type == 'collection' %}
          {{ form.collection(loop.key, item) }}
        {% endif %}
      {% endfor %}
      <p>
         <div class="btn-group">
            <a class="btn" href="/cms">Cancel</a>
            <button type="submit" class="btn btn-primary">Save data</button>
         </div>
      </p>
   </form>

   {% endblock content %}
