{% extends "base.html" %}

   {% block breadcrumb %} {{ content.pagetitle }} {% endblock breadcrumb %}

   {% block pagelist %}
      {% for item in content %}
         {% if file == loop.key %}
            <li class="active"><a href="/cms/page/{{ loop.key }}">{{ item.pagetitle }}</a></li>
         {% else %}
            <li><a href="/cms/page/{{ loop.key }}">{{ item.pagetitle }}</a></li>
         {% endif %}
      {% endfor %}
   {% endblock pagelist %}

   {% block content %}

   <form action="/cms/page/{{ file }}" method="post">

      <legend>Content for management in <em>{{ file }}</em></legend>
      {% for item in content[file].cherries %}

         {% if item.type == 'text' %}
         {% import "includes/form-text.html" as form %}

         {{ form(loop.key, item.type, item.value, item.label, item.help) }}
         {{ form("loop.key", "item.type", "item.value", "item.label", "item.help") }}


{#           {% if item.label %}
            <label for="{{loop.key}}">{{item.label}}</label>
          {% else %}
            <label for="{{loop.key}}">{{loop.key}}</label>
          {% endif %}
            <input type="text" id="{{loop.key}}" name="{{item.type}}:{{loop.key}}" value="{{item.value}}" class="input-xxlarge" />
          {% if item.help %}
            <span class="help-block">{{item.help}}</span>
          {% endif %} #}
         {% endif %}

        {% if item.type == 'markdown' %}
          {% if item.label %}
            <label for="{{loop.key}}">{{item.label}}</label>
          {% else %}
            <label for="{{loop.key}}">{{loop.key}}</label>
          {% endif %}
            <textarea cols="30" rows="10" id="{{loop.key}}" name="{{item.type}}:{{loop.key}}" class="input-xxlarge" >{{item.value}}</textarea>
          {% if item.help %}
            <span class="help-block">{{item.help}}</span>
          {% endif %}
         {% endif %}

        {% if item.type == 'link' %}
          {% if item.label %}
            <label for="{{loop.key}}:href">{{item.label}} (Address) </label>
          {% else %}
            <label for="{{loop.key}}:href">{{loop.key}} (Address)</label>
          {% endif %}
             <input type="text" id="{{loop.key}}:href" name="href:{{loop.key}}" value="{{item.href}}" class="input-xlarge" />
          {% if item.label %}
            <label for="{{loop.key}}:text">{{item.label}} (Link text)</label>
          {% else %}
            <label for="{{loop.key}}:text">{{loop.key}} (Link text)</label>
          {% endif %}
             <input type="text" id="{{loop.key}}:text" name="text:{{loop.key}}" value="{{item.value}}" class="input-xlarge" />
          {% if item.help %}
            <span class="help-block">{{item.help}}</span>
          {% endif %}
         {% endif %}



      {% endfor %}

      <p>
         <div class="btn-group">
            <a class="btn" href="/cms">Cancel</a>
            <button type="submit" class="btn btn-primary">Save data</button>
         </div>
      </p>

   </form>

   {% endblock content %}




