<!DOCTYPE html>
<html>
   <head>
      <title>{{ title }}</title>
   </head>
   <body>
      <h1>ADMIN: {{ title }} </h1>

      <p class="message">{{ message }}</p>


      <form action="/cherrycms" method="post">

         {% for item in content %}
         <h2><a href="">{{ item.pagetitle }}</a></h2>

            {% for elem in item.cherries %}
            <div>
               {% if elem.type == 'text' %}
               <label for="{{elem.id}}">{{elem.id}}: </label><input type="text" id="{{elem.id}}" value="{{elem.value}}" />
               {% else %}
               <p>elem: {{ elem.id }} - {{ elem.type }} </p>
               {% endif %}
            </div>
            {% endfor %}

      {% endfor %}


      </form>


   </body>
</html>