<!DOCTYPE html>
<html>
   <head>
      <title>{{ title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/glasscherry.css">
   </head>
   <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/cherrycms">GlassCherry CMS</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="/cherrycms/generate" class="navbar-link">Generate site</a>
            </p>
            <ul class="nav">
              <li><a href="/docs">Docs</a></li>
              <li><a href="/help">Help</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

 {#
 <div class="breadcrumb">{% block breadcrumb %}{% endblock breadcrumb %}</div>
   <p class="messagebar">{{ message }}</p>
 #}

       <div class="row">
         <div class="span3 bs-docs-sidebar">
           <ul class="nav nav-list bs-docs-sidenav">
             <li><a href="#download-bootstrap"><i class="icon-chevron-right"></i> Download</a></li>
             <li><a href="#file-structure"><i class="icon-chevron-right"></i> File structure</a></li>
             <li><a href="#contents"><i class="icon-chevron-right"></i> What's included</a></li>
             <li><a href="#html-template"><i class="icon-chevron-right"></i> HTML template</a></li>
             <li><a href="#examples"><i class="icon-chevron-right"></i> Examples</a></li>
             <li><a href="#what-next"><i class="icon-chevron-right"></i> What next?</a></li>
           </ul>

         {% block sidebar %}
         {% endblock sidebar %}

         </div>
         <div class="span9">

            {% block content %}
            {% endblock content %}

         </div>

      </div>



      <script src="/static/js/bootstrap.min.js"></script>
   </body>
</html>