{% extends "base.html" %}

{% block breadcrumb %}{{ home }}{% endblock breadcrumb %}

{% block sidebar %}
    <ul>
      {% for item in content %}
      <li><a href="/cherrycms/page/{{ loop.key }}">{{ item.pagetitle }}</a></li>
      {% endfor %}
   </ul>
{% endblock sidebar %}

{% block content %}

    <h1>Documentation</h1>
    <p>
        Intructions on how to install, use and deploy BlackCherry CMS
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, repellat quibusdam quam sequi delectus aliquam neque. Sequi, debitis consequatur ipsum laborum velit eum laboriosam error neque blanditiis nemo hic pariatur.
    </p>

    <h2 id="syntax">Cherry syntax</h2>
    <p>
      HTML elements in your page source can be made content-manageable by marking them as <em>content cherries</em>. GlassCherry will cherry-pick just these elements to construct a set of admin pages for you.
    </p>
    <p>
      Marking an element as a cherry is done by adding the data attribute of <code>data-cherry</code> to it. This validates with the HTML5 spec and does not impact the rendering of your pages when viewed as normal before conten management.
    </p>
    <p>
      The format for the <code>data-cherry</code> attributes is:
    </p>
    <pre>data-cherry='{"name": "value", "name": "value", ...}'</pre>
    <p>
      For example:
    </p>
    <pre>&lt;h1 data-cherry='{"id": "page-title", "type": "text"}'&gt;Placeholder text&lt;/h1&gt;</pre>
    <p>
      <code>id</code> and <code>type</code> are the only mandatory attributes in cherries.
    </p>

    <h3>Cherry attributes</h3>
    <dl>
      <dt><code>"id": "any string"</code></dt><dd>A unique identifier on the page for this content. Displayed as a label for the field in the admin pages if no label is explicitly provided.</dd>
      <dt><code>"label": "any string"</code></dt><dd>A label for displaying with the field in the admin pages.</dd>
      <dt><code>"help": "any string"</code></dt><dd>Descriptive content displayed in the admin pages to give guidance for the purpose or usage of this field.</dd>
    </dl>
    <h3>Cherry types</h3>
    <dl>
      <dt><code>"type": "text"</code></dt><dd>Provides a simple text element for management. Good for short string substitutions.</dd>
      <dt><code>"type": "blob"</code></dt><dd>Provides a larger text element for management. Shows as a textarea in the admin pages. Good for longer sections of text but supports no formatting other than paragraphs.</dd>
      <dt><code>"type": "markdown"</code></dt><dd>Provides a larger text element for management. Shows as a textarea in the admin pages and supports markdown for simple formatting.</dd>
      <dt><code>"type": "img"</code></dt><dd>Provides management of the source of an image asset. THe admin pages will show an image upload form.</dd>
      <dt><code>"type": "collection"</code></dt><dd>Provides a nested, repeatable set of elements. The admin pages give the option to add new elements within that collection</dd>

    </dl>

{% endblock content %}



