{% extends "base.html" %}

   {% block breadcrumb %} {{ content.pagetitle }} {% endblock breadcrumb %}

   {% block pagelist %}
      {% for item in content %}
         {% if file == loop.key %}
            <li class="active"><a href="/cherrycms/page/{{ loop.key }}">{{ item.pagetitle }}</a></li>
         {% else %}
            <li><a href="/cherrycms/page/{{ loop.key }}">{{ item.pagetitle }}</a></li>
         {% endif %}
      {% endfor %}
   {% endblock pagelist %}

   {% block content %}

   <form action="/cherrycms/page/{{ file }}" method="post">

      <legend>Content for management in <em>{{ file }}</em></legend>
      {% for item in content[file].cherries %}

         {% if item.type == 'text' %}
            <label for="{{loop.key}}">{{loop.key}} </label>
            <input type="text" id="{{loop.key}}" name="{{item.type}}:{{loop.key}}" value="{{item.value}}" />
         {% endif %}

      {% endfor %}


      <p>
         <div class="btn-group">
            <a class="btn" href="/cherrycms">Cancel</a>
            <button type="submit" class="btn btn-primary">Save data</button>
         </div>
      </p>

   </form>

   {% endblock content %}




